<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <title>Blood Bags</title>
</head>
<body>
  <h1><%= name %></h1>
  <!--Generate table-->
    <table class="custom-table">
        <!--Generate headings-->
        <tr>
            <% Object.keys(data[0]).forEach(function(item) { %>
            <th><%= item %></th>
            <% }); %>
        </tr>
        <!--Populate with data-->
        <% data.forEach(function(item) { %>
            <tr>
                <% Object.keys(item).forEach(function(i) { %>
                    <td class="attribute-element"><%= item[i] %></td>
                <% }); %>
            </tr>
        <% }); %>
    </table>
    <div class="single-table-name">
        <h4>View quantity of blood by status</h4>
    </div>
    <div class="buttons-container">
        <form action="/NestedFrozen" >
            <input type="submit" value="Frozen" class="link-button"/>
        </form>
        <form action="/NestedReady For Transport" >
            <input type="submit" value="Ready For Transport" class="link-button"/>
        </form>
        <form action="/NestedDisposed" >
            <input type="submit" value="Disposed" class="link-button"/>
        </form>
        <form action="/NestedTesting" >
            <input type="submit" value="Testing" class="link-button"/>
        </form>

        <% if(name !== "Blood Bags"){ %>
            <form action="/Blood-Bags" >
                <input type="submit" value="Back to Blood Bags" class="link-button"/>
            </form>
        <% } %>
        <% if(name === "Blood Bags"){ %>
            <form action="/" >
                <input type="submit" value="Back To Main Page" class="link-button"/>
            </form>
    </div>
    <% } %>
</body>
</html>