<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blood Bank Database</title>
</head>
<body>
  <h1>Blood Bank Database</h1>
  <!--Generate tables-->
  <% relations.forEach(function(r) { %>
    <h3><%= r.name %></h3>
    <table>
      <!--Generate headings-->
      <tr>
        <% Object.keys(r.data[0]).forEach(function(item) { %>
          <th><%= item %></th>
        <% }); %>
      </tr>
      <!--Populate with data-->
      <% r.data.forEach(function(item) { %>
        <tr>
          <% Object.keys(item).forEach(function(i) { %>
            <td><%= item[i] %></td>
          <% }); %>
        </tr>
      <% }); %>
    </table
  <% }); %>
</body>
</html>