<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
  <title>Phlebotomists</title>
</head>
<body>
  <h1><%= name %></h1>
  <!--Generate table-->
    <table class="custom-table">
        <!--Generate headings-->
        <tr>
            <% Object.keys(data[0]).forEach(function(item) { %>
            <th><%= item %></th>
            <% }); %>
        </tr>
        <!--Populate with data-->
        <% data.forEach(function(item) { %>
            <tr>
                <% Object.keys(item).forEach(function(i) { %>
                    <td class="attribute-element"><%= item[i] %></td>
                <% }); %>
            </tr>
                <td>
                <div class="buttons-container">
                    <form method="post" action="/deletePhleb">
                        <input type="submit" value="Delete" class="link-button" />
                    </form>

                    <form method="post" action="/updatePhleb">
                         <input type="submit" value="Update" class="link-button" />
                    </form>
                </div>
            </tr>


        <% }); %>
    </table>

    <div class="buttons-container">
    <form method="post" action="/InsertPhleb">
        <input type="submit" value="Insert" class="link-button"/>
    </form>
        <form action="/" >
            <input type="submit" value="Back To Main Page" class="link-button" />
        </form>
    </div>
</body>
</html>